{% extends "base.html "%}
{% block aboutactive %}active{% endblock aboutactive %}
{% block title %}About{% endblock title %}
{% block body %}

 <h2>About Me</h2>
    <p>I'm Ajeet, B.E,2019 graduate with an Electronics & Instrumentation stream. I'm looking for job opportunities for entry-level positions.
I'm a great listener and a good communicator with adaptive and fast learning ability. I know I'm not perfect but I'm the one who always improves myself where it's necessary</p>
<footer class="footer bg-dark position-absolute fixed-bottom">
        <div class="container">
            <p class="text-center text-light py-1 my-0">Copyright 2020 | All rights Reserved</p>
        </div>
</footer>

{% endblock body %}


